/* Main */

	#main {
		padding-left: 24em;
	}

/* Banner */

	#banner:after {
		clear: both;
		content: '';
		display: block;
	}

	#banner .content {
		float: left;
		padding-right: 4em;
	}

	#banner .image {
		float: left;
		margin-left: 0;
	}